.product-card {
  width: 30%;
  height: 60vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.product-card-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.product-card-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
}

.product-list-image {
  width: 100%;
  transition: all 10s ease;
}

.product-card:hover .product-list-image {
  transform: translateY(-55%);
}

@media screen and (max-width: 550px) {
  .product-card {
    width: 80%;
    height: 70vh;
  }
}

@media screen and (max-width: 320px) {
  .product-card {
    width: 80%;
    height: 50vh;
  }
}