.hero {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 0 2.5rem;
  background: rgb(58,175,169);
  background: linear-gradient(90deg, rgba(58,175,169,1) 0%, rgba(58,175,169,1) 5%, rgba(255,255,255,1) 100%);
}

.custom-shape-divider-bottom-1650973913 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650973913 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 41px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650973913 .shape-fill {
  fill: #FFFFFF;
}

.hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left-wrapper {
  padding: 50px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-social-icons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero-social-icon {
  cursor: pointer;
}

.hero-social-icon:hover {
  transition: all .3s ease-in;
  transform: scale(1.2);
  z-index: 1;
}

.hero-intro {
  font-size: 18px;
  font-weight: 300;
}

.hero-name {
  font-size: 50px;
  font-weight: 600;
}

.hero-job-title {
  height: 50px;
  overflow: hidden;
}

.hero-job-title-wrapper {
  height: 100px;
  animation: scroll 10s ease-in-out infinite alternate;
}

@keyframes scroll {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.hero-job-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: crimson;
  display: flex;
  align-items: center;
}

.hero-description {
  font-size: 18px;
}

.hero-btn-wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.hero-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  
}

.hero-img:hover {
  transition: all .3s ease-in;
  transform: scale(1.05);
  z-index: 1;
}
