:root {
  --primary-color: #17252a;
  --secondary-color: #2b7a78;
  --accent-color: #3aafa9;
  --primary-text-color: #222222;
  --secondary-text-color: #637b81;
  --accent-text-color: #333333;
  --site-background-color: #f5f5f5;
  --white-color: #ffffff;
}
